/* src/pages/CreateReviewPage.css */

/* Specific styles for CreateReviewPage */

form {
    max-width: 600px;
    margin: 0 auto;
  }
  
  form div {
    display: flex;
    flex-direction: column;
  }
  
  form label {
    margin-bottom: 5px;
  }
  
  .flex-buttons {
    justify-content: flex-end;
  }
  